/*Fonts Added by Courtney
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Josefin Sans', sans-serif;*/


body{
  max-width: 480px;
  font-family: 'Josefin Sans';
}

.headerCourt{
    background-color: #e9b3f2;
    font-family: 'Bungee Shade';
    text-decoration: underline;
    font-size: 2.75em;
    text-align: center;

}

.logoCourt{

}

.paraCourt{
  font-family: 'Josefin Sans';
  text-align: center;

}


img{
  width:450px;
  height: 300px;
}
.img1{
  padding: 0 15px;
}
.img2{
  padding-right: 15px;
}
.img3{
  padding-right: 15px;
}
.slide-container {
  overflow: auto;
  white-space: nowrap;
}
.contactInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f4f4ed;
}
.number{
  font-weight: bold;
}

.email{
  font-weight: bold;
}

footer{
  background-color: #e9b3f2;
  color: #f9f9ea;
  text-align: center;
}
