    /*Fonts Added by Courtney
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Josefin Sans', sans-serif;*/

html {
    margin:
}

body {
    max-width: 480px;
    font-family: 'Josefin Sans';
    /*background-color: #ebdced;*/
}

.headerCourt {
    background-color: #e9b3f2;
    font-family: 'Bungee Shade';
    text-decoration: underline;
    font-size: 2.75em;
    text-align: center;
    color: #f9f9ea;
    padding: 60px 5px 60px 5px;
}
 .headerCourt h1 {
    margin: auto;
    padding-bottom: 15px;
}

.logoCourt img {
    height: 250px;
    width: 250px;}

  .headerCourt h1 {
        margin: auto;
        padding-top: 35px;
    }
    .logoCourt img {
        height: 250px;
        width: 250px;

    }
    .paraCourt p {
        padding: 15px;
        margin: auto;
    }
    .paraCourt {
        font-family: 'Josefin Sans';
        text-align: center;
        background-color: #ebdced;
    }
    .colt {
        background-color: #ebdced;
    }
    .about {
        text-align: center;
        background-color: #ebdced;
    }
    .about p {
        padding: 15px;
        margin: auto;
    }
    img {
        width: 450px;
        height: 300px;
        padding-top: 15px;
    }
    .img1 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .img2 {
        padding-right: 15px;
    }
    .img3 {
        padding-right: 15px;
    }
    .slide-container {
        background-color: #ebdced;
        overflow: auto;
        white-space: nowrap;
    }
    .contactInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #ebdced;
    }
    .number {
        font-weight: bold;
    }
    .email {
        font-weight: bold;
    }
    footer {
        background-color: #e9b3f2;
        color: #f9f9ea;
        text-align: center;
    }
    @media only screen and (min-width: 480px) {
        body {
            max-width: 100%;
        }
    }
    @media only screen and (min-width: 965px) {
        body {
            max-width: 100%;
        }
        img {
            width: 30%
        }
        .img3 {
            width: 31%
        }
    }
